DEFCONF = {
  'apikey': 'YOUR API KEY',
  'gm_apikey': 'YOUR WEB INTERFACE API KEY', # Inspect the cookies in your game

  'api_url': "https://api.stockfighter.io/ob/api",
  'gm_url': "https://www.stockfighter.io/gm",
  'root_ws': "wss://www.stockfighter.io/ob/api/ws",

  'levels': [
    "first_steps",
    "chock_a_block",
    "sell_side",
    "dueling_bulldozers"
  ],

  # Put your level instance IDs here for quick lookup
  'levelInstances': {
    "first_steps":          123,
    "chock_a_block":        123,
    "sell_side":            123,
    "dueling_bulldozers":   123,
  },

  #'debug': True,

  # Set defaults.  These get replaced when you initialize a new game
  'venue': 'TESTEX',
  'stock': 'FOOBAR',
  'account': 'EXB123456',
  'dayrate': 5 # every 5 seconds is about 1 day of game time
}
CONF = DEFCONF.copy()

